[submodule "before-our-time-client"]
	path = before-our-time-client
	url = git@github.com:delphian/before-our-time-client.git
	branch = master
[submodule "before-our-time-models"]
	path = before-our-time-models
	url = git@github.com:delphian/before-our-time-models.git
	branch = master
[submodule "before-our-time-business"]
	path = before-our-time-business
	url = git@github.com:delphian/before-our-time-business.git
	branch = master
